<div class="container mt-5 mb-5">
    <h1 class="text-center mt-5 mb-5">O Nama</h1>
    <p> <b><i>eatingMode</i></b> je jedan od prvih restorana zaslužnih za transformaciju do tada napuštene i zaboravljene Beton Hale u sada već kultno mesto beogradske gastronomske scene i nezaobilaznu turističku destinaciju na obali Save. Ponosno služimo naše goste od 2010. godine, ponudom koja podrazumeva najbolje iz italijanske i mediteranske kuhinje u kombinaciji sa najfinijim iz Josper grila uz jedinstvenu ponudu bara i našu veoma pažljivo biranu vinsku kartu. Sve to uz vrlo diskretan kreativni zamah u jedinstvenom enterijeru jer želimo samo najbolje za vas.

    </p>
    <p class="text-center">
        <b><i>Mesto gde jedete. Gde otkrivate iskustva. Gde uživate.</i></b>
      
    </p> 
        
    
</div>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <!-- one -->
        <div class="gallery col-lg-4 mt-2">
            <img src="../../../assets/img/abt1.jpg" alt="">
        </div>
        <!-- two -->
        <div class="gallery col-lg-4 mt-2">
            <img src="../../../assets/img/abt3.jpg" alt="">

        </div>
        <!-- three -->
        <div class="gallery col-lg-4 mt-2">
            <img src="../../../assets/img/abt2.jpg" alt="">

        </div>
    </div>
</div>