<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <img src="" width="100%" alt="">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore et, dolor nobis consectetur, deleniti voluptatum neque illum iusto atque doloribus repellat debitis id facilis nam? <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eum at saepe eligendi cum magnam natus nihil fugiat dolores tempore, animi facilis, ratione beatae sapiente sunt, nemo tempora quas. Quas, in fuga! Sapiente, minus modi. <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni enim corrupti recusandae ipsam incidunt doloremque provident illum officiis facere obcaecati exercitationem, dolores a. Ea eaque ipsa fugiat aliquid placeat velit mollitia perferendis at praesentium nulla neque molestias, necessitatibus, saepe ad magnam nisi adipisci officiis laborum? Quia neque obcaecati, expedita illum sint ratione porro! Aspernatur, possimus.
    </p>
</div>